@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background-color: #f2f2f2;
}

@layer components {
  ::selection {
    background-color: theme("colors.selectionBg");
    color: theme("colors.selectionText");
  }
}
